<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434095065322-62bhq63tgf50ds9k1ik03h0is05a4bkk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434095065322-62bhq63tgf50ds9k1ik03h0is05a4bkk</string>
	<key>API_KEY</key>
	<string>AIzaSyCzB0HW9dETXranDz3-KX1P0hMWatctZcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>434095065322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.larryalllen.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-4ba9a</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-4ba9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434095065322:ios:46faab957b275e16c3ef93</string>
</dict>
</plist>